# dependencies
node_modules/

# next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo

# production
build/
dist/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
next-dev*.log

# local env files
.env
.env*.local

# editor and OS files
.DS_Store
Thumbs.db
.vscode/
.idea/
